.icon-exclude-checkboxes {
  max-width: 64ch;
}

.icon-exclude-checkboxes .form-checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-exclude-checkboxes .form-item {
  margin: 1rem;
}

.icon-exclude-checkboxes .ckmoon__icon {
  width: 32px;
  vertical-align: middle;
}
