.ckmoon__icon-fieldset > .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ckmoon__icon-container {
  display: inline-block;
}

.ckmoon__icon {
  font-size: 2em;
  padding: 1em;
  cursor: pointer;
}

.ckmoon__icon:hover {
  background: #e4e4e4;
}

.ckmoon__icon-button.button {
  display: none;
}
