:root {
    --ckmoon-ck-panel-columns: 5;
}

.ckmoon-ck-panel .ck.ck-list {
    display: grid;
    grid-template-columns: repeat(var(--ckmoon-ck-panel-columns), auto);
}

.ckmoon-ck-panel .ck-list .ck-list__item {
    min-width: auto;
}

.ckmoon-ck-panel .ck-list .ck-list__item {
    min-width: auto;
}

.ckmoon-ck-panel .ck-icon path {
    transform: scale(0.019);
}

svg.ckmoon__icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
}

sup.ckmoon__broken-icon {
    color: red;
}